/* 헤더 */
div.hdrWrap{
    width: 110%;
}
div.hdrWrap>div.header>ul.nav>li{
    font-size: 12px;
}
/* 컨텐츠1 */
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>p{
    display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>h3{
    font-size: 16px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>h5{
    font-size: 14px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.cntBtm>div.article>div.image.i1{
    display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.cntBtm>div.article>div.image.i2{
    display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.cntBtm>div.article>div.image.i3{
    display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.cntBtm>div.article>div.image.i4{
    display: none;
}
/* 컨텐츠2 */
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>p{
    display: none;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h4{
    display: none;
}
div.cntWrap>div.content.cnt02>div.section{
    flex-wrap: wrap;
}
div.cntWrap>div.content.cnt02>div.section>div.article{
    width: 100%
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h3{
    font-size: 16px;
    line-height: 30px;
}
div.cntWrap>div.content>div.header>h2{
    line-height: 30px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
    padding: 60px 0px;
}

/* 컨텐츠3 */
div.cntWrap>div.content.cnt03>div.section>div.artGroup>div.article>div.texts>h3{
    display: none;
}
div.cntWrap>div.content.cnt03>div.section>div.artGroup>div.article>div.image.i3{
    display: none;
}
div.cntWrap>div.content.cnt03>div.section>div.artGroup>div.article>div.image.i4{
    display: none;
}

/* 푸터 */
div.ftrWrap{
    width: 110%;
    margin-top: 40px;
}
div.ftrWrap>div.footer>h1{
    font-size: 18px;
    margin-top: -50px;
    margin-left: 50px;
}
div.ftrWrap>div.footer>div.sns{
    margin-top: -10px;
    margin-left: -140px;
    line-height: 40px;
}